=0.46.1
ECE175B_Project.pdf
qwen_poetry_lora/*
combined/test.jsonl
combined/train.jsonl
combined/valid.jsonl
combined/data/test.jsonl
combined/data/train.jsonl
combined/data/valid.jsonl
combined/test.jsonl
combined/train.jsonl
combined/valid.jsonl
qwen_14b_qlora/test.jsonl
qwen_14b_qlora/train.jsonl
qwen_14b_qlora/test.jsonl
qwen_14b_qlora/train.jsonl
qwen05b_lora/*
qwen05b_qlora/*
qwen14b_lora/*
qwen15b_lora/*
qwen15b_qlora/*